canvas {
  border: 1px solid gray;
}

#buffercanvas {
  display: none;
}

#effectcanvas {
  display: none;
}

.headline {
	display: table-cell;
  padding-left: 10px;
  padding-right: 10px;
}

.content {
  display: table-cell;
  padding-left: 10px;
  padding-right: 10px;
}
